.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
}

.nav-items > ul {
    list-style: none;
    display: flex;
}

.nav-items > ul > li {
    padding: 10px;
}

.title{
    margin: 0px;
}

.logo{
    width: 80px;
    align-items: center;
    margin: auto;
}

.Card{
    width: 150px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

.Card > img {
    width: 100%;
}

.restaurant-list{
    display: flex;
    flex-wrap: wrap;
}